* {
	box-sizing: border-box;;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	color: #333;
	line-height: 1.254;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #3b8bba;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a:hover, a:visited {
	color: #265778;
}

/*==Chia cá»™t website==*/
.container {
	padding-left: 150px;
	position: relative;
	left: 0;
	width: 100%;
}

.menu {
	position: fixed;
	height: 100%;
	background-color: #191818;
	width: 190px;
	left: 0;
}

 .menu ul {
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 }

 .menu ul li {
 	line-height: 2.9em;
 	height: 2.9em;
 	transition: all 1s;
 	-moz-transition: all 1s;
 	-webkit-transition: all 1s;

 }

 .menu ul li a {
 	display: block;
 	color: #fff;
 	padding: 0 1em;
 	border-bottom: 1px solid #333;
 }

 .menu ul li:hover {
 	background-color: #454545;
 }

 .menu ul li h2 {
 	display: block;
 	color: #fff;
 	padding: 0 0.5em;
 	margin: 0;
 	border-bottom: 1px solid #333;
 	text-align: center;
 }

.content {
	padding: 1em 8em;
	overflow: hidden;
}

